body {
  margin: 0;
  font-family: "Orbitron", san-serif;
  font-size: 14px;
  background: #031629;
  color: #00f0ff;
  padding: 6px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box; /*can be removed*/
}

/* TOP BAR */
.topbar {
  display: grid;
  grid-template-columns: 28% 20% 25% 27%;
  height: 48px;
  align-items: center;
  border: 1px solid rgba(0, 240, 255, 0.6);
  background: rgba(0, 10, 20, 0.7);
  box-shadow:
    0 0 8px rgba(0, 240, 255, 0.25),
    inset 0 0 8px rgba(0, 240, 255, 0.1);
  overflow: hidden;
  flex-shrink: 0;
}

.top-item {
  border-right: 1px solid rgba(0, 240, 255, 0.35);
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 4px rgba(0, 240, 255, 0.12);
  overflow: hidden;
  /*backdrop-filter: blur(5px);*/
}

.top-item:last-child {
  border-right: none;
}

.left-title {
  text-align: left;
  padding-left: 15px;
}

.center-status {
  color: #00f0ff;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  /*height: calc(100vh - 40px);*/
  gap: 6px;
  padding: 6px;
  overflow: hidden;
  min-height: 0;
}

/* COLUMN WIDTH FIXED */
.left {
  /*width: 35%;*/
  flex: 1.2;
  gap: 6px;
  /*border-right: 2px solid #00f0ff;*/
  display: flex;
  flex-direction: column;
  min-height: 0;
  /*overflow: hidden;*/
}

.middle {
  /* width: 30%;*/
  flex: 1;
  gap: 6px;
  /*border-right: 2px solid #00f0ff;*/
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.right {
  flex: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0;
  min-height: 0;
}

/* BOX */
.box {
  border: 1px solid rgba(0, 240, 255, 0.55);
  padding: 10px;
  /*box-sizing: border-box;*/

  background: rgba(0, 10, 20, 0.6);

  box-shadow:
    0 0 6px rgba(0, 240, 255, 0.18),
    inset 0 0 6px rgba(0, 240, 255, 0.4);
  overflow: hidden;
  min-height: 0;
}

/* STRUCTURE */
.core {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 240, 255, 0.35);
  letter-spacing: 2px;
  font-size: 15px;
  flex-shrink: 0;
}
.counts {
  flex: 0.35;
  font-size: 12px;
  line-height: 1.3;
  padding: 6px 10px;
}

.counts div {
  margin: 2px;
  letter-spacing: 1px;
}

.graph {
  flex: 1.8;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  border: 1px solid rgba(0, 240, 255, 0.5);
  background: rgba(0, 10, 20, 0.6);
  box-shadow: inset 0 0 8px rgba(0, 240, 255, 0.18);
}

.graph canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart-wrapper {
  flex: 1;
  position: relative;
  padding: 4px;
}

.chart-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  animation: scan 3s linear infinite;
  pointer-events: none;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.alert {
  flex: 2;
}
.system {
  flex: 1;
}
.box-system {
  border: 1px solid rgba(0, 240, 255, 0.55);

  background: rgba(0, 10, 20, 0.6);

  box-shadow:
    0 0 6px rgba(0, 240, 255, 0.18),
    inset 0 0 6px rgba(0, 240, 255, 0.4);

  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.cmd-box {
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 8px;

  min-height: 0;
}

.cmd-header {
  height: 72px;
  margin: 0;
  font-size: 15px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 240, 255, 0.55);

  background: rgba(0, 10, 20, 0.6);

  box-shadow:
    0 0 6px rgba(0, 240, 255, 0.18),
    inset 0 0 6px rgba(0, 240, 255, 0.4);

  letter-spacing: 2px;
}

.cmd-controls {
  border: 1px solid rgba(0, 240, 255, 0.55);

  background: rgba(0, 10, 20, 0.6);

  box-shadow:
    0 0 6px rgba(0, 240, 255, 0.18),
    inset 0 0 6px rgba(0, 240, 255, 0.4);

  padding: 10px;
  margin: 0;
  margin-bottom: 6px;
}

.cmd-terminal {
  flex: 1;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  margin: 0;
  padding: 10px;

  border: 1px solid rgba(0, 240, 255, 0.55);

  background: rgba(0, 8, 18, 0.82);

  box-shadow:
    0 0 6px rgba(0, 240, 255, 0.18),
    inset 0 0 6px rgba(0, 240, 255, 0.4);

  font-family: "Share Tech Mono", monospace;

  scrollbar-width: none;

  min-height: 0;
}

.cmd-terminal::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 240, 255, 0.03),
    transparent 20%,
    transparent 80%,
    rgba(0, 240, 255, 0.02)
  );
}

.cmd-box::after {
  content: "";

  position: absolute;

  inset: 0;

  pointer-events: none;

  border: 1px solid rgba(0, 240, 255, 0.18);

  box-shadow: 0 0 12px rgba(0, 240, 255, 0.12);
}

.cmd-terminal::-webkit-scrollbar {
  display: none;
}

/* INPUT LINE */
.input-line {
  margin-top: auto;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 240, 255, 0.3);
  padding-top: 6px;
}

#cmdInput {
  background: transparent;
  border: none;
  outline: none;
  color: #00f0ff;
  width: 100%;
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
}

/* OUTPUT LINES */
.output {
  margin-bottom: 4px;
  letter-spacing: 1px;
  text-shadow: 0 0 4px rgba(0, 240, 255, 0.4);
}

/* BUTTONS */
button {
  background: transparent;
  border: 1px solid #00f0ff;
  color: #00f0ff;
  padding: 5px 10px;
  margin: 5px;
}

/* CIRCLES */
.circle-area {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*height: 100%;*/
  padding-top: 10px;
  padding-bottom: 25px;
}

.circle-box {
  text-align: center;
}

.cpu,
.gpu {
  position: relative;
  width: 80px;
  height: 80px;
}

/* RINGS */
.ring {
  position: absolute;
  border-radius: 50%;
  border: 2px solid transparent;
}

/* CPU */
.outer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00f0ff;
  border-left-color: #00f0ff;
  animation: rotateCW 1.7s linear infinite;
}

.cpu-middle {
  width: 65%;
  height: 65%;
  top: 17.5%;
  left: 17.5%;
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right-color: #00f0ff;
  border-bottom-color: #00f0ff;
  animation: rotateCW 2s linear infinite;
}

.inner {
  width: 42%;
  height: 42%;
  top: 29.973%;
  left: 29.961%;
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00f0ff;
  animation: rotateCCW 2s linear infinite;
}

/* GPU FIXED */
.gpu::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 240, 255, 0.25);
  border-radius: 50%;
}

.gpu-middle {
  width: 65%;
  height: 65%;
  top: 17.5%;
  left: 16%;
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00f0ff;
  animation: rotateCCW 0.8s linear infinite;
}
.gpu-ring {
  width: 100%;
  height: 100%;
  border-top: 3px solid #00f0ff;
  border-bottom: 3px solid #00f0ff;
  border-radius: 50%;
  animation: rotateCW 2.5s linear infinite;
}

/* DOT FIX */
.dot {
  width: 18px;
  height: 18px;
  background: #00f0ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 12px #00f0ff 0 0 12px #00f0ff;
}

.circle-box p {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 1;
}

/* ANIMATION */
@keyframes rotateCW {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateCCW {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.cmd-header {
  text-align: center;
}

.graph-header {
  padding: 6px;
  border-bottom: 1px solid rgba(0, 240, 255, 0.4);
  text-align: center;
  /*flex-shrink: 0;*/
  margin-bottom: 6px;
  letter-spacing: 2px;
  font-size: 15px;
}
/* BUTTON GRID */
.btn-row {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* DEFAULT BUTTON */
button {
  flex: 1;

  margin: 0;

  height: 42px;

  background: rgba(0, 240, 255, 0.05);

  border: 1px solid #00f0ff;

  color: #00f0ff;

  cursor: pointer;

  font-family: "Orbitron", monospace;

  transition: 0.3s;
}
.indicator {
  background: #82acb25d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* HOVER EFFECT */
button:hover:not(#errBtn) {
  background: #00f0ff;
  color: black;
  box-shadow: 0 0 10px #00f0ff;
}

/* ACTIVE (ON STATE) */
button.active {
  background: #00f0ff;
  color: black;
  box-shadow: 0 0 12px #00f0ff;
}

/* ERROR BLINK */
.error-active {
  border-color: red;
  color: red;
  background: rgb(247, 94, 94);
  animation: blinkRed 0.6s infinite;
}

body.error-glow::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  box-shadow:
    inset 0 0 50px rgba(232, 85, 85, 0.4),
    inset 0 0 100px rgba(227, 33, 33, 0.2);

  animation: redPulse 1s infinite;
  z-index: 999;
}

@keyframes redPulse {
  0% {
    box-shadow: inset 0 0 40px rgba(255, 0, 0, 0.2);
  }
  50% {
    box-shadow: inset 0 0 80px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: inset 0 0 40px rgba(255, 0, 0, 0.2);
  }
}

@keyframes blinkRed {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 15px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}
/* CLICK FLASH EFFECT */
.flash {
  animation: clickFlash 0.3s ease;
}

@keyframes clickFlash {
  0% {
    background: #00f0ff;
    color: black;
    box-shadow: 0 0 15px #00f0ff;
  }
  100% {
    background: rgba(0, 240, 255, 0.05);
    color: #00f0ff;
  }
}

/* ON BUTTON FLASH (while staying active) */
.flash-on {
  animation: clickFlashOn 0.3s ease;
}

@keyframes clickFlashOn {
  0% {
    box-shadow: 0 0 20px #00f0ff;
  }
  50% {
    box-shadow: 0 0 35px #00f0ff;
  }
  100% {
    box-shadow: 0 0 12px #00f0ff;
  }
}

canvas {
  filter: drop-shadow(0 0 4px rgba(0, 240, 255, 0.4));
}
